* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/
.container {
  width: 80%;
  margin: 0 auto;
  position: relative; }

/* css micro clearfix */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* for ie 6/7 (trigger haslayout) */
.cf {
  zoom: 1; }

.fleft{float: left;}
.fright{ float: right;}

li{ list-style: none;}

/*
|----------------------------------------------
| Loader
|----------------------------------------------
*/
#content-video{
    width: 890px;
    height: 480px;
    background: #f2f2f2;
    position: relative;
}
#loader{
    background: #c23;
    width: 640px;
    height: 480px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 305px;
    z-index: 3;
    margin-top: -15px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: blue;
    border-bottom-color: blue;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{ -webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


/*
|----------------------------------------------
| sections
|----------------------------------------------
*/
.listCanais{ margin-bottom: 30px;}
.btcanais{
    background: #999;
    padding: 5px 10px;
    float: left;
    margin-right: 15px;
    color: white;
}
.btcanais:hover{ background: black; cursor: pointer;}

.tabs{ display: none; height: 100%;}
.tabs.active{display: block;}

.video {
  width: 640px;
  height: 510px;
  float: left;
}

#down_volume{
    background: #ccc;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    height: 30px;
    float: left;
}
#up_volume{
    background: #ccc;
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 50px;
    height: 30px;
    float: left;
    margin-left: 10px;
}

.col-videos{
    width: 240px;
    margin-left: 10px;
    height: 100%;
    background: #ccc;
}
.thumbvideo{ 
    float: left; 
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    background: #999;
    color: white;
    display: block;
}
.thumbvideo:hover{ background: #1a1a1a; cursor: pointer;}

/*
|----------------------------------------------
| canais
|----------------------------------------------
*/