* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body{ background: url('../img/background.jpg') repeat 0; background-size: cover;}

/*
|----------------------------------------------
| Reset
|----------------------------------------------
*/
.container {
  width: 80%;
  margin: 0 auto;
  position: relative; 
}

/* css micro clearfix */
.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* for ie 6/7 (trigger haslayout) */
.cf {
  zoom: 1; }

.fleft{float: left;}
.fright{ float: right;}

li{ list-style: none;}

/*
|----------------------------------------------
| Loader
|----------------------------------------------
*/
#content-video{
    height: 510px;
    background: #e9ecdd;
    position: relative;
}
#loader{
    background: #c23;
    width: 640px;
    height: 480px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.spinner{
    position: absolute;
    top: 50%;
    left: 305px;
    z-index: 3;
    margin-top: -15px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top-color: blue;
    border-bottom-color: blue;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{ -webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


/*
|----------------------------------------------
| sections
|----------------------------------------------
*/
.listCanais{ margin: 30px 0 0px;}
.btcanais{
    background: #274d59;
    border-bottom: 3px solid transparent;
    padding: 10px 20px;
    float: left;
    margin-right: 2px;
    color: white;
    font: 300 1.2em 'Ubuntu', sans-serif;
}
.btcanais:hover,
.btcanais.active{ border-color: #abbfb2; cursor: pointer;}

.video {
  width: 70%;
  height: 480px;
  float: left;
}
#volume{
    margin-top: 5px;
    width: 200px;
    margin-left: 10px;
    border: 0;
    background: #274d59;
    height: 3px;
}
#volume .ui-widget-header{
    background: #abbfb2;
}
#volume .ui-slider-handle{
    width: 10px;
    height: 10px;
    top: -5px;
    border-radius: 100%;
}

.col-videos{
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    background: #274d59;
    padding: 20px;
    float: right;
}
.thumbvideo{ 
    float: left; 
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    color: #abbfb2;
    display: block;
}
.thumbvideo.active{ color: white;}
.thumbvideo:hover{cursor: pointer; color: white;}
.thumb{ margin-right: 15px;}
.video_title{ font: bold 1.2em 'Ubuntu', sans-serif; margin-bottom: 10px; }
.video_desc{ font: 300 .9em 'Ubuntu', sans-serif; margin-bottom: 10px; }

/*
|----------------------------------------------
| canais
|----------------------------------------------
*/